* {
  margin: 0;
  padding: 0;
}
/* navbar */
.navbar {
  background-color: #ededed;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  padding: 5px;
  padding-left: 40px;
}
.navbar .logo img {
  height: 50px;
  width: 50px;
}
.pagelinks {
  padding-right: 40px;
}
.pagelinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagelinks ul li {
  float: left;
}

.pagelinks ul li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pagelinks ul li a:hover {
  background-color: #555;
  color: #ededed;
}

/* main */
.container {
  display: flex;
  /* flex-wrap: wrap; */
  height: 100vh;
}

.menu {
  display: block;
  width: 300px;
  /* height: 100%; */
  border-radius: 10px;
  border-right: 2px solid #ededed;
}

.menu ul {
  list-style-type: none;
}
.menu ul li {
  margin: 70px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.menucontent {
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
}

.content {
  display: block;
  border: 2px solid #ededed;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}

/* footer */
.footer {
  background-color: #ededed;
  text-align: center;
  font-size: x-large;
  padding: 10px;
}
